=begin
#Turnitin Core API

#Turnitin Core API (TCA) provides direct API access to the core functionality provided by Turnitin. TCA supports file submission, similarity report generation, group management, and visualization of report matches via Cloud Viewer or PDF download. Below is the full flow to successfully set up an integration scope, an API Key, and make calls to TCA. Integration Scope and API Key management is done via the Admin Console UI by logging in as an admin user. For more details, go to our [developer portal documentation page](https://developers.turnitin.com/docs). ## Integration Scope and API Key Management TCA API calls must provide an API Key for authentication, so you must first have at least one integration scope associated with at least one API Key to use TCA. ### Admin Console UI First, login to Admin Console UI as an *Admin* user with permission to create Integration Scopes, under a tenant that is licensed to use the TCA product Integration Scopes (you can create a new one, or add keys to existing)    * Click `Integrations` in the side bar --> `+ Add Integration` at top the top of the page --> Enter a name --> `Add` Button   API Keys   * Click `Integrations` in the side bar --> `Create API Key` Button next to a given Integration Scope -->   Enter a name --> click `Create and View button`   * Copy/Save the key manually or click save to clipboard button to copy it (this is the only time it will show)  ## TCA Flow    *  Register a webhook   *  Create a submission   *  Upload a file for the submission   *  Wait for the submission upload to process      * If you registered a webhook, a callback will be sent to it when upload is complete      * The status of the *submission* will also update to `COMPLETE`   *  Request a Similarity Report   *  Wait for similarity report to process      * If you registered a webhook, a callback will be sent to it when report is complete      * The status of the *report* will also be updated to `COMPLETE`   *  Request a URL with parameters to view the Similarity Report 

OpenAPI spec version: 1.0.249

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.35
=end

module TCAClient
  class EULAApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Accepts a particular EULA version on behalf of an external user
    # @param body 
    # @param x_turnitin_integration_name a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version the version of the integration platform being used
    # @param version_id The EULA version ID (or &#x60;latest&#x60;) 
    # @param [Hash] opts the optional parameters
    # @return [EulaAcceptListItem]
    def eula_version_id_accept_post(body, x_turnitin_integration_name, x_turnitin_integration_version, version_id, opts = {})
      data, _status_code, _headers = eula_version_id_accept_post_with_http_info(body, x_turnitin_integration_name, x_turnitin_integration_version, version_id, opts)
      data
    end

    # Accepts a particular EULA version on behalf of an external user
    # @param body 
    # @param x_turnitin_integration_name a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version the version of the integration platform being used
    # @param version_id The EULA version ID (or &#x60;latest&#x60;) 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EulaAcceptListItem, Integer, Hash)>] EulaAcceptListItem data, response status code and response headers
    def eula_version_id_accept_post_with_http_info(body, x_turnitin_integration_name, x_turnitin_integration_version, version_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EULAApi.eula_version_id_accept_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling EULAApi.eula_version_id_accept_post"
      end
      # verify the required parameter 'x_turnitin_integration_name' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_name.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_name' when calling EULAApi.eula_version_id_accept_post"
      end
      # verify the required parameter 'x_turnitin_integration_version' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_version' when calling EULAApi.eula_version_id_accept_post"
      end
      # verify the required parameter 'version_id' is set
      if @api_client.config.client_side_validation && version_id.nil?
        fail ArgumentError, "Missing the required parameter 'version_id' when calling EULAApi.eula_version_id_accept_post"
      end
      # resource path
      local_var_path = '/eula/{version_id}/accept'.sub('{' + 'version_id' + '}', version_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Turnitin-Integration-Name'] = x_turnitin_integration_name
      header_params[:'X-Turnitin-Integration-Version'] = x_turnitin_integration_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'EulaAcceptListItem' 

      auth_names = opts[:auth_names] || ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EULAApi#eula_version_id_accept_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Queries the acceptences of a particular EULA version on behalf of an external user
    # @param x_turnitin_integration_name a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version the version of the integration platform being used
    # @param version_id The EULA version ID (or &#x60;latest&#x60;) 
    # @param user_id The user associated with the EULA status 
    # @param [Hash] opts the optional parameters
    # @return [Array<EulaAcceptListItem>]
    def eula_version_id_accept_user_id_get(x_turnitin_integration_name, x_turnitin_integration_version, version_id, user_id, opts = {})
      data, _status_code, _headers = eula_version_id_accept_user_id_get_with_http_info(x_turnitin_integration_name, x_turnitin_integration_version, version_id, user_id, opts)
      data
    end

    # Queries the acceptences of a particular EULA version on behalf of an external user
    # @param x_turnitin_integration_name a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version the version of the integration platform being used
    # @param version_id The EULA version ID (or &#x60;latest&#x60;) 
    # @param user_id The user associated with the EULA status 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<EulaAcceptListItem>, Integer, Hash)>] Array<EulaAcceptListItem> data, response status code and response headers
    def eula_version_id_accept_user_id_get_with_http_info(x_turnitin_integration_name, x_turnitin_integration_version, version_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EULAApi.eula_version_id_accept_user_id_get ...'
      end
      # verify the required parameter 'x_turnitin_integration_name' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_name.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_name' when calling EULAApi.eula_version_id_accept_user_id_get"
      end
      # verify the required parameter 'x_turnitin_integration_version' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_version' when calling EULAApi.eula_version_id_accept_user_id_get"
      end
      # verify the required parameter 'version_id' is set
      if @api_client.config.client_side_validation && version_id.nil?
        fail ArgumentError, "Missing the required parameter 'version_id' when calling EULAApi.eula_version_id_accept_user_id_get"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling EULAApi.eula_version_id_accept_user_id_get"
      end
      # resource path
      local_var_path = '/eula/{version_id}/accept/{user_id}'.sub('{' + 'version_id' + '}', version_id.to_s).sub('{' + 'user_id' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Turnitin-Integration-Name'] = x_turnitin_integration_name
      header_params[:'X-Turnitin-Integration-Version'] = x_turnitin_integration_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<EulaAcceptListItem>' 

      auth_names = opts[:auth_names] || ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EULAApi#eula_version_id_accept_user_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets information about a particular EULA version
    # @param x_turnitin_integration_name a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version the version of the integration platform being used
    # @param version_id The EULA version ID (or &#x60;latest&#x60;) 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang The desired language of the specified EULA version
    # @return [EulaVersion]
    def eula_version_id_get(x_turnitin_integration_name, x_turnitin_integration_version, version_id, opts = {})
      data, _status_code, _headers = eula_version_id_get_with_http_info(x_turnitin_integration_name, x_turnitin_integration_version, version_id, opts)
      data
    end

    # Gets information about a particular EULA version
    # @param x_turnitin_integration_name a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version the version of the integration platform being used
    # @param version_id The EULA version ID (or &#x60;latest&#x60;) 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang The desired language of the specified EULA version
    # @return [Array<(EulaVersion, Integer, Hash)>] EulaVersion data, response status code and response headers
    def eula_version_id_get_with_http_info(x_turnitin_integration_name, x_turnitin_integration_version, version_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EULAApi.eula_version_id_get ...'
      end
      # verify the required parameter 'x_turnitin_integration_name' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_name.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_name' when calling EULAApi.eula_version_id_get"
      end
      # verify the required parameter 'x_turnitin_integration_version' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_version' when calling EULAApi.eula_version_id_get"
      end
      # verify the required parameter 'version_id' is set
      if @api_client.config.client_side_validation && version_id.nil?
        fail ArgumentError, "Missing the required parameter 'version_id' when calling EULAApi.eula_version_id_get"
      end
      # resource path
      local_var_path = '/eula/{version_id}'.sub('{' + 'version_id' + '}', version_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Turnitin-Integration-Name'] = x_turnitin_integration_name
      header_params[:'X-Turnitin-Integration-Version'] = x_turnitin_integration_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'EulaVersion' 

      auth_names = opts[:auth_names] || ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EULAApi#eula_version_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets the text of a particular EULA version
    # @param x_turnitin_integration_name a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version the version of the integration platform being used
    # @param version_id The EULA version ID (or &#x60;latest&#x60;) 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang The desired language of the specified EULA version
    # @return [String]
    def eula_version_id_view_get(x_turnitin_integration_name, x_turnitin_integration_version, version_id, opts = {})
      data, _status_code, _headers = eula_version_id_view_get_with_http_info(x_turnitin_integration_name, x_turnitin_integration_version, version_id, opts)
      data
    end

    # Gets the text of a particular EULA version
    # @param x_turnitin_integration_name a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version the version of the integration platform being used
    # @param version_id The EULA version ID (or &#x60;latest&#x60;) 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang The desired language of the specified EULA version
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def eula_version_id_view_get_with_http_info(x_turnitin_integration_name, x_turnitin_integration_version, version_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EULAApi.eula_version_id_view_get ...'
      end
      # verify the required parameter 'x_turnitin_integration_name' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_name.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_name' when calling EULAApi.eula_version_id_view_get"
      end
      # verify the required parameter 'x_turnitin_integration_version' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_version' when calling EULAApi.eula_version_id_view_get"
      end
      # verify the required parameter 'version_id' is set
      if @api_client.config.client_side_validation && version_id.nil?
        fail ArgumentError, "Missing the required parameter 'version_id' when calling EULAApi.eula_version_id_view_get"
      end
      # resource path
      local_var_path = '/eula/{version_id}/view'.sub('{' + 'version_id' + '}', version_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain; charset=utf-8', 'application/html'])
      header_params[:'X-Turnitin-Integration-Name'] = x_turnitin_integration_name
      header_params[:'X-Turnitin-Integration-Version'] = x_turnitin_integration_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'String' 

      auth_names = opts[:auth_names] || ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EULAApi#eula_version_id_view_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
