=begin
#Turnitin Core API

#Turnitin Core API (TCA) provides direct API access to the core functionality provided by Turnitin. TCA supports file submission, similarity report generation, group management, and visualization of report matches via Cloud Viewer or PDF download. Below is the full flow to successfully set up an integration scope, an API Key, and make calls to TCA. Integration Scope and API Key management is done via the Admin Console UI by logging in as an admin user. For more details, go to our [developer portal documentation page](https://developers.turnitin.com/docs). ## Integration Scope and API Key Management TCA API calls must provide an API Key for authentication, so you must first have at least one integration scope associated with at least one API Key to use TCA. ### Admin Console UI First, login to Admin Console UI as an *Admin* user with permission to create Integration Scopes, under a tenant that is licensed to use the TCA product Integration Scopes (you can create a new one, or add keys to existing)    * Click `Integrations` in the side bar --> `+ Add Integration` at top the top of the page --> Enter a name --> `Add` Button   API Keys   * Click `Integrations` in the side bar --> `Create API Key` Button next to a given Integration Scope -->   Enter a name --> click `Create and View button`   * Copy/Save the key manually or click save to clipboard button to copy it (this is the only time it will show)  ## TCA Flow    *  Register a webhook   *  Create a submission   *  Upload a file for the submission   *  Wait for the submission upload to process      * If you registered a webhook, a callback will be sent to it when upload is complete      * The status of the *submission* will also update to `COMPLETE`   *  Request a Similarity Report   *  Wait for similarity report to process      * If you registered a webhook, a callback will be sent to it when report is complete      * The status of the *report* will also be updated to `COMPLETE`   *  Request a URL with parameters to view the Similarity Report 

The version of the OpenAPI document: 1.0.258

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.3.0-SNAPSHOT

=end

require 'cgi'

module TCAClient
  class WebhookApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete Webhook endpoint
    # @param x_turnitin_integration_name [String] a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version [String] the version of the integration platform being used
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_webhook(x_turnitin_integration_name, x_turnitin_integration_version, id, opts = {})
      delete_webhook_with_http_info(x_turnitin_integration_name, x_turnitin_integration_version, id, opts)
      nil
    end

    # Delete Webhook endpoint
    # @param x_turnitin_integration_name [String] a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version [String] the version of the integration platform being used
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_webhook_with_http_info(x_turnitin_integration_name, x_turnitin_integration_version, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookApi.delete_webhook ...'
      end
      # verify the required parameter 'x_turnitin_integration_name' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_name.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_name' when calling WebhookApi.delete_webhook"
      end
      # verify the required parameter 'x_turnitin_integration_version' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_version' when calling WebhookApi.delete_webhook"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhookApi.delete_webhook"
      end
      # resource path
      local_var_path = '/webhooks/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Turnitin-Integration-Name'] = x_turnitin_integration_name
      header_params[:'X-Turnitin-Integration-Version'] = x_turnitin_integration_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"WebhookApi.delete_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookApi#delete_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Webhook endpoint info
    # @param x_turnitin_integration_name [String] a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version [String] the version of the integration platform being used
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Webhook]
    def get_webhook(x_turnitin_integration_name, x_turnitin_integration_version, id, opts = {})
      data, _status_code, _headers = get_webhook_with_http_info(x_turnitin_integration_name, x_turnitin_integration_version, id, opts)
      data
    end

    # Get Webhook endpoint info
    # @param x_turnitin_integration_name [String] a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version [String] the version of the integration platform being used
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Webhook, Integer, Hash)>] Webhook data, response status code and response headers
    def get_webhook_with_http_info(x_turnitin_integration_name, x_turnitin_integration_version, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookApi.get_webhook ...'
      end
      # verify the required parameter 'x_turnitin_integration_name' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_name.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_name' when calling WebhookApi.get_webhook"
      end
      # verify the required parameter 'x_turnitin_integration_version' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_version' when calling WebhookApi.get_webhook"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhookApi.get_webhook"
      end
      # resource path
      local_var_path = '/webhooks/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Turnitin-Integration-Name'] = x_turnitin_integration_name
      header_params[:'X-Turnitin-Integration-Version'] = x_turnitin_integration_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Webhook'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"WebhookApi.get_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookApi#get_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Webhook endpoint info
    # @param x_turnitin_integration_name [String] a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version [String] the version of the integration platform being used
    # @param id [String] 
    # @param data [WebhookPathRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Webhook]
    def update_webhook(x_turnitin_integration_name, x_turnitin_integration_version, id, data, opts = {})
      data, _status_code, _headers = update_webhook_with_http_info(x_turnitin_integration_name, x_turnitin_integration_version, id, data, opts)
      data
    end

    # Update Webhook endpoint info
    # @param x_turnitin_integration_name [String] a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version [String] the version of the integration platform being used
    # @param id [String] 
    # @param data [WebhookPathRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Webhook, Integer, Hash)>] Webhook data, response status code and response headers
    def update_webhook_with_http_info(x_turnitin_integration_name, x_turnitin_integration_version, id, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookApi.update_webhook ...'
      end
      # verify the required parameter 'x_turnitin_integration_name' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_name.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_name' when calling WebhookApi.update_webhook"
      end
      # verify the required parameter 'x_turnitin_integration_version' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_version' when calling WebhookApi.update_webhook"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhookApi.update_webhook"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling WebhookApi.update_webhook"
      end
      # resource path
      local_var_path = '/webhooks/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Turnitin-Integration-Name'] = x_turnitin_integration_name
      header_params[:'X-Turnitin-Integration-Version'] = x_turnitin_integration_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(data)

      # return_type
      return_type = opts[:debug_return_type] || 'Webhook'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"WebhookApi.update_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookApi#update_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List registered Webhook endpoints
    # @param x_turnitin_integration_name [String] a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version [String] the version of the integration platform being used
    # @param [Hash] opts the optional parameters
    # @return [Array<Webhook>]
    def webhooks_get(x_turnitin_integration_name, x_turnitin_integration_version, opts = {})
      data, _status_code, _headers = webhooks_get_with_http_info(x_turnitin_integration_name, x_turnitin_integration_version, opts)
      data
    end

    # List registered Webhook endpoints
    # @param x_turnitin_integration_name [String] a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version [String] the version of the integration platform being used
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Webhook>, Integer, Hash)>] Array<Webhook> data, response status code and response headers
    def webhooks_get_with_http_info(x_turnitin_integration_name, x_turnitin_integration_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookApi.webhooks_get ...'
      end
      # verify the required parameter 'x_turnitin_integration_name' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_name.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_name' when calling WebhookApi.webhooks_get"
      end
      # verify the required parameter 'x_turnitin_integration_version' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_version' when calling WebhookApi.webhooks_get"
      end
      # resource path
      local_var_path = '/webhooks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Turnitin-Integration-Name'] = x_turnitin_integration_name
      header_params[:'X-Turnitin-Integration-Version'] = x_turnitin_integration_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Webhook>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"WebhookApi.webhooks_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookApi#webhooks_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register a Webhook endpoint
    # @param x_turnitin_integration_name [String] a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version [String] the version of the integration platform being used
    # @param data [WebhookWithSecret] 
    # @param [Hash] opts the optional parameters
    # @return [Webhook]
    def webhooks_post(x_turnitin_integration_name, x_turnitin_integration_version, data, opts = {})
      data, _status_code, _headers = webhooks_post_with_http_info(x_turnitin_integration_name, x_turnitin_integration_version, data, opts)
      data
    end

    # Register a Webhook endpoint
    # @param x_turnitin_integration_name [String] a human readable string representing the type of integration being used
    # @param x_turnitin_integration_version [String] the version of the integration platform being used
    # @param data [WebhookWithSecret] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Webhook, Integer, Hash)>] Webhook data, response status code and response headers
    def webhooks_post_with_http_info(x_turnitin_integration_name, x_turnitin_integration_version, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookApi.webhooks_post ...'
      end
      # verify the required parameter 'x_turnitin_integration_name' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_name.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_name' when calling WebhookApi.webhooks_post"
      end
      # verify the required parameter 'x_turnitin_integration_version' is set
      if @api_client.config.client_side_validation && x_turnitin_integration_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_turnitin_integration_version' when calling WebhookApi.webhooks_post"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling WebhookApi.webhooks_post"
      end
      # resource path
      local_var_path = '/webhooks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Turnitin-Integration-Name'] = x_turnitin_integration_name
      header_params[:'X-Turnitin-Integration-Version'] = x_turnitin_integration_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(data)

      # return_type
      return_type = opts[:debug_return_type] || 'Webhook'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"WebhookApi.webhooks_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookApi#webhooks_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
